
body{
  min-height: 100vh;
  background-color: rgba(23, 92, 220, 0.473); 
}



/* General */
.App {
  text-align: center;
  
}

.general-container{
  padding: 5rem;
}

.general-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(151, 65, 140),rgb(247, 134, 6));
  clip-path: circle(20% at 30% 20%);
  z-index: -100;
}

.general-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(151, 65, 140),rgb(247, 134, 6));
  clip-path: circle(20% at 70% 65%);
  z-index: -100;
}


/* Header */

.header{
  height: 13rem;
  margin: 0 0 5rem;
  border:2px solid rgba(128, 128, 128, 0.836);
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
  transition: all 500ms ease;
  
}

.header:hover{
  box-shadow: 1px 3px 10px gray;
  backdrop-filter: blur(5px);
}

/* Birthday*/
.birthday-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.birthday{
  border: 2px solid rgba(240, 128, 128, 0.205);
  border-radius: 5px;
  transition: all 300ms ease;
}
.birthday:hover{
  background-color: rgba(173, 189, 209, 0.712);
}

/* BirthDays*/
.birthdays-container{
    background: rgba(21, 139, 94, 0.116);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    backdrop-filter: blur(1px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
}
.birthdays-container:hover{
  backdrop-filter: blur(5px);
}